auto-save-list/
backups/
straight/
undo/
.cache/
.lsp-session-v1
amx-items
places
.emacs.desktop*
projectile-bookmarks.eld
.org-id-locations
org-persist/
/.dap-breakpoints
/custom.el
/elpa/
/.pdf-view-restore
/emojis
/eshell
tramp
temp-files/
nil
recentf
