/.cache/
/.emacs.desktop
/.emacs.desktop.lock
/.last-package-update-day
/amx-items
/auto-save-list/
/backups/
/custom.el
/elpa/
/nice-configs/
/places
/projectile-bookmarks.eld
/recentf
/samples/
/transient/
/.lsp-session-v1
/.org-id-locations
/request
/url/
/auto/
/bookmarks
/Org_Setup_File.org
/eshell/
/my-literate-emacs-configuration.html
/nil
