[submodule "site-elisp/aweshell"]
	path = site-elisp/aweshell
	url = https://github.com/manateelazycat/aweshell.git
[submodule "site-elisp/color-rg"]
	path = site-elisp/color-rg
	url = https://github.com/manateelazycat/color-rg.git
[submodule "site-elisp/snails"]
	path = site-elisp/snails
	url = https://github.com/manateelazycat/snails.git
[submodule "site-elisp/python-language-server"]
	path = site-elisp/python-language-server
	url = https://github.com/Microsoft/python-language-server.git
[submodule "site-elisp/reveal.js"]
	path = site-elisp/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "site-elisp/texlab"]
	path = site-elisp/texlab
	url = https://github.com/latex-lsp/texlab.git
[submodule "site-elisp/java-one-click-run"]
	path = site-elisp/java-one-click-run
	url = https://github.com/MatthewZMD/java-one-click-run.git
[submodule "site-elisp/pcap-mode"]
	path = site-elisp/pcap-mode
	url = https://github.com/orgcandman/pcap-mode.git
[submodule "site-elisp/lsp-mssql"]
	path = site-elisp/lsp-mssql
	url = https://github.com/emacs-lsp/lsp-mssql.git
[submodule "site-elisp/py-cmd-buffer.el"]
	path = site-elisp/py-cmd-buffer.el
	url = https://github.com/humitos/py-cmd-buffer.el.git
[submodule "site-elisp/buftra.el"]
	path = site-elisp/buftra.el
	url = https://github.com/humitos/buftra.el.git
